package views


templ fetchtedLis() {
  //TODO: a text field to add new things
  //TODO: show the user a task list
}

templ header() {
  //TODO: JUST A WELCOME MESSAGE 
}


templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<script src="https://unpkg.com/htmx.org@2.0.2"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>YourList</title>
		</head>
		<body></body>
	</html>
}
